# Node / Frontend
node_modules/
vendor/
dist/
build/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual env
venv/
.venv/

# ML models & data
*.h5
*.pt
*.pth
*.ckpt
*.onnx
*.pkl
*.joblib

# uploads runtime
backend/uploads/
backend/app/ml/dataset/pdfs
